/* =========================================================
   1. RÉINITIALISATION CSS
   ========================================================= */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 16px;
    scroll-behavior: smooth;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8fafc;
    color: #1e293b;
    line-height: 1.5;
}

/* =========================================================
   2. ÉLÉMENTS GÉNÉRAUX
   ========================================================= */

a
{
    text-decoration: none;
    color: inherit;
}

button,select
{
    font-family: inherit;
}

img
{
    max-width: 100%;
    display: block;
}

/* =========================================================
   3. EN-TÊTE
   ========================================================= */

.header
{
    height: 54px;
    width: 100%;

    display: flex;
    align-items:center;
    justify-content: space-between;

    padding: 0 28px;

    background-color: wheat;
    border-bottom: 1px solid #e5e7eb;

    position: fixed;
    top: 0;
    left:0;

    z-index: 1000;
}

.logo
{
    font-size: 18px;
    font-weight: 700;
    color: #111827;
}

.utilisateur
{
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 14px;
    color: #374151;

    cursor: pointer;
}

.fleche
{
    font-size: 18px;
    color: red;
}

/* =========================================================
   5. SIDEBAR
   ========================================================= */

   .sidebar
   {
    width: 220px;
    min-width: 220px;

    background-color: #ffffff;

    border-right: 1px solid #e5e7eb;

    position: fixed;
    top: 54px;
    left: 0;
    bottom: 0;

    overflow-y: auto;

   }

   .titre-sidebar
   {
    height: 68px;

    display: flex;
  
    align-items: center;

    padding: 0 30px;

    border-bottom: 1px solid #e5e7eb;

    font-size: 17px;

    font-weight: 700;

    color: #111827;

   }

   /* =========================================================
   6. MENU DE NAVIGATION
   ========================================================= */

   .menu
   {
     padding: 16px 14px;
   }

   .lien
   {
    display: flex;
    align-items:center;

    height: 44px;

    padding: 0 16px;
    margin-bottom: 4px;

    border-radius: 6px;

    font-size: 14px;
    font-weight: 500;

    color: #374151;

    transition: background-color 0.2s ease, 
    color 0.2s ease;
   }

    .lien:hover
    {
     background-color: #f1f5f9;
     color: #2563eb;
    }

    /* Lien actif */
    .lien.actif
    {
     background-color: #eaf2ff;
     color: #2563eb;

     border-left: 3px solid #2563eb;

     padding-left: 13px;
    }

    /* =========================================================
    7. CONTENU PRINCIPAL
    ========================================================= */

    